nav {
    width: 100%;
    border-width: 0;
    /*position: fixed;*/
    /*top: 0;*/
    padding-top: 12px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.headerButton {
    text-underline: none;
    padding: 5px 12px;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 30px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.5s ease-out;
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 70%;
    text-transform: uppercase;
    font-family: "Avenir Next", sans-serif;
}

.headerButton:before {
    content: "#";
}

.headerButton:hover {
    background-color: #6c5c80;
}

@media (max-width: 920px) {
    nav {
        justify-content: space-between;
    }
}

@media screen and (max-width: 400px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    .headerButton {
        font-size: 80%;
    }
}
